<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.badlavsevasamitingo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BadlavSevaSamitiNGO">
        <activity android:name=".socialmedia" />
        <activity android:name=".graphicdesign" />
        <activity android:name=".busscale" />
        <activity android:name=".telecalling" />
        <activity android:name=".webdevelopment" />
        <activity android:name=".fundraising" />
        <activity android:name=".contectwriting" />
        <activity android:name=".LoginnextActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SubActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.BadlavSevaSamitiNGO.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>